*{
  margin: 0 0;
}
.content{
  background-color:rgb(241, 241, 241);
}
a{
  text-decoration-line: none;
}
a:visited{
  color:black;
}

body { 
  min-height: 100vh;
 }
 .logo{
  background-color: white;
  padding: 10px;
}



.main_content{
  margin: 0 5rem;
}
.main_content_header{
  padding: 5rem 5rem 2.5rem 5rem;
}


.current_point{
  padding: 1rem 5rem;
  text-align: center;
}

.point_container{
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}
 .point_field{
  height: 5.5rem;
  width: 10rem;
  line-height: 5rem;
  text-align: center;
}
.point_field:hover{
  box-shadow: 5px 5px 5xp;
}
.non-click{
  border-style: solid; 
  border-color: gray;
  border-width: 4px 40px 4px 4px;

  background-color: rgb(227, 227, 227);
}
.click{
  border-style: solid; 
  border-color: rgb(255, 0, 0);
  border-width: 4px 40px 4px 4px;
  background-color: rgb(255, 231, 16);
  
}
.point_field:hover{
  cursor:pointer;
  /* background-color: red; */
}



.pay{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#pay_btn{
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  border: none;
  height :50px;
  width :200px;
  color: white;
}

.non-activate{
  pointer-events: none; 
  background-color: gray;
}
.activate{
  background-color: red;
  pointer-events: auto;
}


#pay_btn:hover{
  cursor:pointer;
}
.modal-body{
  border-radius: 15px;
  text-align: center;
  background-color: rgb(226, 226, 226);
  margin: 0 40px;
}

.modal-header, .modal-footer{
  border: none;
}

.btn-primary{
  background-color: red;
}


