/* 로그인 폼 구역 */
.login_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: inherit;
}

.login_container{
  height: 36rem;
  width: 30rem;
  border-radius: 2rem;
  background-color: rgba(193, 211, 240, 0.25);
  padding: 3rem;
}
.login_title{
  text-align: center;
  margin-bottom: 20px;
}
h1{
  font-weight: bold;
}
.form-control{
  height: 3rem;
}

.id{
  height: 70px;
  background-color: gray;
  padding: 20px 0;
  margin-bottom: 40px;
}
.pw{
  height: 70px;
  background-color: gray;
  padding: 20px 0;
  margin-bottom: 40px;
}


.login_input{
  /* margin-top: 10px; */
  margin: 10px auto;
  height:50px;
  width: 396px;
  border-radius: 10px;
  border: none;
}

label{
  font-size: large;
  font-weight: bold;
  padding: 0 1rem;
}

.login_btn{
  color: black;
  font-weight: bold;
  --bs-btn-border-color: unset;
  --bs-btn-bg: rgb(193 211 240 ); 
  width:100%;
  margin:2rem 0;
}
