/* 로그인 폼 구역 */
.login_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: inherit;
}

.login_container{
  height:600px;
  width:400px;
  border-radius: 30px;
  background-color: rgb(189, 189, 189);
  margin: 0 auto; 
  padding: 50px;
}
.login_title{
  text-align: center;
  background-color:rgb(255, 255, 255);
  margin-bottom: 20px;
}


.id{
  height: 70px;
  background-color: gray;
  padding: 20px 0;
  margin-bottom: 40px;
}
.pw{
  height: 70px;
  background-color: gray;
  padding: 20px 0;
  margin-bottom: 40px;
}


.login_input{
  /* margin-top: 10px; */
  margin: 10px auto;
  height:50px;
  width: 396px;
  border-radius: 10px;
  border: none;
}

#login_form label{
  height: 20px;
  font-size: large;
  padding: 0 20px; 
}

#login_btn{
  height:50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width:400px; 
  margin-bottom: 10px;
}