*{
  margin:0 0;

}
h2{
  font-weight: bold;
}

a{
  text-decoration-line: none;
}
a:visited{
  color:black;
}


/* 회원가입 폼 */
.wrapper{
  margin-bottom: 200px;
}


.signup_container{
  background-color: rgba(193, 211, 240, 0.25);
  width: 33rem;
  height: 50rem;
  margin: 5rem auto;
  border-radius: 2rem;
  padding: 4rem;
}

.signup_title{
  text-align: center;
  margin-bottom: 3rem;
}

.signup_input, select{
  margin: 10px auto;
  height: 3rem;
  width: 26rem;
  border-radius: 10px;
  border: none;
}



.signup_btn{
  width:100%;
  margin:2rem 0;
  color: black;
  font-weight: bold;
  --bs-btn-bg: rgb(193 211 240 ); 
  --bs-btn-border-color: unset;
}
.authenticate .signup_input{
  background-color: rgb(252, 252, 252);
  height: 3rem;
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 0.5rem;
}


label{
  font-weight: bold;
}