
*{
  margin: 0 0;
}


a{
  text-decoration-line: none;
}
a:visited{
  color:black;
}



/* Signup.html */
.signup_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}
.signup_container{
  height: 38rem;
  width: 40rem;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 3rem;
  background-color: rgb(198, 198, 198);
}
.signup_title{
  text-align: center;
  background-color:rgb(255, 255, 255);
  margin-bottom: 20px;
}
.choice{
  
  margin-bottom: 80px;
  margin-top: 20px;
  text-align: center;
}
.signup_choice{
  display:flex;
  justify-content: space-between;
}
h1{
  text-align: center;
  font-weight: bold;
}



.restaurant_choice, .consultant_choice {
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: white;
  text-align: center;
  padding: 5rem 3rem;
}
