{% extends 'base.html' %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/my_info.css' %}">
{% endblock %}

{% block title %}{% endblock %}

{% block nav_right %}{% endblock %}

{% block content %}
  <form action="{% url 'changePassword' %}" method="POST" class="wrapper">
    {% csrf_token %}
    <input type="hidden" name="_method" value="PUT"/>

    <h3 class="info_title">비밀번호 변경</h3>
    <div class="info_container">

      <div class="mb-3">
        <label class="form-label">현재 비밀번호</label>
        <input type="password" class="form-control" required="required" name="origin_password" id="origin_password">
      </div>
      <div class="mb-3">
        <label class="form-label">새 비밀번호</label>
        <input type="password" class="form-control" required="required" name="new_password" id="new_password">
      </div>
      <div class="mb-3">
        <label class="form-label">새 비밀번호 확인</label>
        <input type="password" class="form-control" required="required" name="confirm_password" id="confirm_password">
      </div>
    </div>
    {% comment %} 변경 실패했을 때 에러메세지 {% endcomment %}
    {% if error %}
    {{error}}
    {% endif %}
    <div class="edit_clear">
      <button type="submit" class="btn btn-primary ">변경 완료</button>
    </div>

  </form>
{% endblock %}