{% extends 'base.html' %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/my_info.css' %}">
{% endblock %}

{% block title %}{% endblock %}


{% block content %}
  <div class="wrapper">

    <h3 class="info_title">개인정보</h3>
    <div class="info_container">
      <!--수정기능 없앰-->
      <!--{% block editbtn %}{% endblock %}-->

      <div class="mb-3">
        <label for="user_id" class="form-label">ID</label>
        <input type="text" class="form-control" id="user_id" value="{{user.username}}" readonly="readonly">
      </div>
      <div class="mb-3">
        <label for="user_pw" class="form-label">PW</label>
        <div class="my-point"><input type="password" class="form-control" style="width: 80%;" id="user_pw" value="{{user.password}}" readonly="readonly">
          <button type="submit" class="btn btn-primary signup_btn">
            <a href="{% url 'changePassword' %}">변경하기</a>
          </button>
        </div>
      </div>
      <!--이메일은 프로필에서 수정 가능-->
      <!--<div class="mb-3"> <label for="email" class="form-label">이메일 주소</label> <input type="email" class="form-control" id="email" placeholder="name@example.com" value="{{user.email}}" readonly> </div>-->
      <div class="mb-3 ">
        <label for="myPoint" class="form-label">보유 캐시</label>
        <div class="my-point">
          <input type="text" class="form-control" id="myPoint" style="width: 80%;" value="{{user.point}}" readonly="readonly">
          {% block point %}
            <button type="submit" class="btn btn-primary signup_btn">충전하기</button>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}