{% extends 'base.html' %}   <!--base.html 상속(base.css 포함)-->
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
<!-- 로그인 폼 -->
<div class="login_wrapper">
  <div class="login_container">
    <div class="login_title">
      <h1> 로그인 </h1>
    </div>

    {% if error %}
    {{error}}
    {% endif %}

    <form id="login_form" method="POST" actions="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="user_id" class="form-label">ID</label>
        <input type="text" class="form-control" id="user_id" name="id" placeholder="아이디를 입력하세요">
      </div>
      <div class="mb-3">
        <label for="user_id" class="form-label">PW</label>
        <input type="password" class="form-control" name="pw" id="user_pw" placeholder="비밀번호를 입력하세요">
      </div>

    
      <button type="submit" class="btn btn-primary login_btn">로그인</button>
      <a href="{% url 'signup' %}" style="float:right;" > 회원가입 하기 </a>

      
    </form>
  </div>
</div>
{% endblock %}