{% extends 'signupForm.html' %}

{% block title %}요식업자 회원가입 페이지
{%endblock title %}
{% block FormTitle %}
  요식업자 회원가입
{% endblock FormTitle %}

{% block selectForm %}
  {% csrf_token %}
  <div class="restaurant_field">
    <label for="restaurant_field">요식업 분야</label><br>

    <select class=" form-select request_field" name="restaurant_field" aria-label="Default select example">
      {% for tag in tags %}
        <option value="{{tag.id}}">{{ tag.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endblock selectForm %}