{% extends 'base.html' %}   <!--base.html 상속(base.css 포함)-->
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static '/css/signupForm.css' %}">
{% endblock %}

{% block title %} signupForm {% endblock title %}

{% block content %}
  <div class="wrapper">
    <div class="signup_container">
    <!-- 회원가입 폼 제목  -->
    <h1 class="signup_title">{% block FormTitle %} signupForm {%endblock FormTitle %}</h1>

    <form  id="signup_form">
      <!-- {% csrf_token %} -->
      <div class="form_field">
        <label for="user_id"> 이름 </label><br>
        <input type="text" class="signup_input" placeholder="아이디를 입력해주세요." id="user_id" name="username"/>
      </div>
      <div class="form_field">
        <label for="email"> email </label><br>
        <input type="text" class="signup_input" placeholder="이메일을 입력해주세요." id="email" name="email"/>
      </div>
      <div class="form_field">
        <label for="password"> 비밀번호 </label><br>
        <input type="text" class="signup_input" placeholder="비밀번호를 입력해주세요." id="password" name="password"/>
        <br>
        <input type="text" class="signup_input" placeholder="비밀번호 재입력" id="password_check" name="password_check"/>
      </div>
      <!-- select 폼 -->
      {% block selectForm %}

      {% endblock selectForm %}
      <p><button id="signup_btn">가입하기</button></p>
    </form>
    </div>
  </div>
{% endblock %}