{% extends 'base.html' %}
<!--base.html 상속(base.css 포함)-->
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="content_wrapper">
    <div class="wrapper text_wrapper">
      <div class="text_container">
        <div class="text AtoP_title bold_text">Amateur to Pro</div><br>
        <div class="text">아마추어 컨설턴트에서 전문가로<br>아마추어 그룹에서 전문가 그룹으로<br>영세 자영업자에서 맛집 주인으로</div><br>
        <div class="text bold_text">정상을 향한 동반자 AtoP</div>
      </div>
      <div class="img_container">
        <!-- <img class="img" {% if con_profile.image %} src="{{con_profile.image.url}}" {% endif %}  src="{% static '\image\basic_profile.png' %}" alt="프로필 사진"> -->
      </div>
    </div>
    <div class="wrapper">
      <div class="title">컨설턴트 랭킹</div>
      <div class="rank_container">
        {% for field in ranking %}
          <div class="slide">
            <div class="category_text">{{field.key}}</div>
            {% for value in field.value %}
              <div class="rank_number">
                {% if value.order == 0 %}1st{% endif %}
                {% if value.order == 1 %}2nd{% endif %}
                {% if value.order == 2 %}3rd{% endif %}
                {% if value.order == 3 %}4th{% endif %}
                {% if value.order == 4 %}5th{% endif %}
              </div>
              <div class="rank_name" onclick="location.href='{% url 'profile' value.id %}';">{{value.name}}
                컨설턴트
              </div>
            {% endfor %} 

          </div>

        {% endfor %}
      </div>
    </div>
    <div class="wrapper">
      <div class="title">컨설팅 이용 후기</div>
      <div class="review_container">
      {% for review in reviews %}
        <div class="slide review_slide" onclick="location.href='myProfile'">
          <div class="profile_img">
          {% block profile_img %}
          <img class="profile_img" src="{% static '\image\basic_profile.png' %}"/>
          {% endblock %}
          </div>
          <!--생각해보니 컨설턴트가 아닌 요식업자 프로필이어야하는거 아닌지...-->
          <div>{{review.res}}</div>
          <div>★{{review.score}}</div>
          <div class="review_content">{{review.comment}}</div>
          <div class="consultant_information">#{{review.tag}}<br>{{review.con}}컨설턴트</div>
        </div>
        {% endfor %}
        {% comment %} <div class="slide review_slide">똑같은</div>
        <div class="slide review_slide">내용이라</div>
        <div class="slide review_slide">비워놨어요</div> {% endcomment %}

      </div>
    </div>
    <div class="wrapper text_wrapper">
      {% if user.job == 'restaurant' %}
      <!--요식업자 입장 : 의뢰글 작성페이지 바로가기-->
      <div class="text_container">
        <div class="text bold_text">
          <b>컨설턴트 도움을 받고 싶으신가요?</b>
        </div><br>
        <div class="text">컨설팅 의뢰글을 작성해서 <br>대학생 컨설턴트들의 도움을 받아보세요.</div><br>
        <div class="text">#마케팅 #원가관리 #SNS</div>
      </div>
      <div class="img_container postRequest" onclick="location.href='postRequest'">
        <span class="findRequest_text">컨설팅 요청하기 →
        </span>
      </div>

      {% else %}
      <!--컨설턴트 입장 : 의뢰글 찾기 바로가기 -->
      <div class="text_container">
        <div class="text bold_text">
          <b>요식업자들에게 컨설팅을 해주고 싶으신가요?</b>
        </div><br>
        <div class="text">도움이 필요한 요식업자들에게 컨설팅을 제공하면서<br>자신만의 커리어를 만들어가보세요.</div><br>
        <div class="text">#한식 #양식 #중식 #일식</div>
      </div>
      <div class="img_container findRequest" onclick="location.href='findRequest'">
        <span class="findRequest_text">요식업자 의뢰 찾기 →
        </span>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}