#chat-log::-webkit-scrollbar {
  width: 0.2rem; /*스크롤바의 너비*/
}
#chat-log::-webkit-scrollbar-thumb {
  background-color: #2d2727; /*스크롤바의 색상*/
}
#chat-log::-webkit-scrollbar-track {
  background-color: transparent; /*스크롤바 트랙 색상*/
}
.file-download {
  background-color: transparent;
  border: none;
}

.me,
.you {
  min-width: 10rem;
}

.file-download {
  background-image: url("../../static/download.svg");
  width: 1rem;
  height: 1rem;
  margin-right: 2rem;
}
