{% extends 'profile_template.html' %} 
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" >  
  <link rel="stylesheet" href="{% static 'css/myProfile.css' %}" >  
{% endblock %}

{% block title %}컨설턴트 프로필 페이지{% endblock %}



{% block profile_title %}
  Profile
{% endblock %}

{% block maincontent %}
<div class="profile_container">
  <div class="information">
    <div class= "info" id="name">
      이름 : {{profile.name}}
    </div>
    <div class= "info" id="age">
      나이 : {{profile.birth}}
    </div>
    <div class= "info" id="email">
      이메일 : {{user.email}}
    </div>
    <div id="school">
      <div class= "info">
        학력 : {{profile.education}}
      </div>
      <button class= "badge"> 학교 인증 완료 </button>
    </div>
  </div>

  <div class="introduction">
    <h3> 자기소개 </h3>
    <div class="intro_content">
    {{profile.self_introducing}}
      
    </div>
  </div>

  <div class="consulting_info">
    <h3> 컨설팅 정보 </h3>
    <div class="consult_info" id="consult_field">
      <div class="consult_info_title">컨설팅 분야</div>
      <div class="consult_info_content"> 여기는 컨설팅 분야 </div>
    </div> 
    <div class="consult_info" id="contact">
      <div class="consult_info_title">연락 가능 시간</div>
      <div class="consult_info_content">{{profile.contact_at}} </div>
    </div>
    <div class= "consult_info" id="times">
      <div class="consult_info_title">컨설팅 횟수</div>
      <div class="consult_info_content">여기는 컨설팅 횟수 </div>
    </div>
  </div>
  <div class="consulting_review">
    <h3> 컨설팅 리뷰 </h3>

    <div class="review">
      <div class="review_header">
        <div class="review_header_left">
          <span class="review_info">요식업자 이름</span>
          <span class="review_info" >
            별점 ★★★★★
          </span>
        </div>
        <div class="review_header_right">
          <span class="review_info" >리뷰 등록 일자</span>
        </div>
        
      </div>
      <div class="review_content">
      리뷰 내용이 들어가는 공간
      </div>
    </div>

    <div>더보기</div>
  </div>

</div>

{% endblock maincontent %}

