#post_request_container {
  padding: 4rem 2rem;
}

#request_form {
  position: relative;

  background-color: lightgray;
  padding: 1.5rem 2rem;
  border: #74a9ff 0.1rem solid;
  border-radius: 1.4rem;
}
.col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.row-box {
  border: gray 0.2rem solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0 1rem;
}

.row-box > label {
  white-space: nowrap;
}

.request_input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;

  border: none;
}

textarea {
  width: 100%;
  border: gray 0.2rem solid;
  resize: none;
}

.grid-box {
  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 3rem;
  row-gap: 1rem;
}

#request_submit_btn {
  position: absolute;
  right: 0;
  background-color: #74a9ff;
  border: none;
  border-radius: 0.7rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  margin: 3rem 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
