{% extends 'profile_template.html' %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/Myprofile.css' %}">
  <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock %}

{% block title %}컨설턴트 포트폴리오/히스토리{% endblock %}

{% block profile_title %}
  consulting Space
{% endblock %}

{% block menu %}
  <p class="menu">
    <a href="">현재 컨설팅</a>
  </p>
  <p class="menu" style="background-color: gray; ">
    <a href="{% url 'consultingHistory' %}">컨설팅 포트폴리오</a>
  </p>
{% endblock %}

{% block nav_right %}
  <a href="{% url 'consultingSpace' %}">
    Consulting Space
  </a>
  <a href="">
    알람
  </a>
  <a href="{% url 'myProfile' %}">마이프로필</a>

{% endblock %}

{% block maincontent %}
  <div>
    과거 진행한 컨설팅
  </div>

  <ul class="history">
    <li>
      <span class="content">컨설팅 종료일자</span>
      <span class="content">요식업자 이름</span>
      <span class="content">컨설팅 분야</span>
      <span class="content">요식업자 이름</span>
      <span class="content">|</span>
      <span class="content">최종 레포트 파일</span>
    </li>

  </ul>

  {{ user.id|json_script:"user_id" }}
  <script src="{% static 'js/history.js' %}"></script>
{% endblock %}
