{% extends 'consulting_template.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" >  
<link rel="stylesheet" href="{% static 'css/consulting_template.css' %}" >  
<link rel="stylesheet" href="{% static 'css/myConsulting.css' %}" >  
{% endblock %}

{% block title %}
  컨설턴트의 컨설팅 스페이스 
{% endblock %}





{% block profile_title %}  
Consulting Space
{% endblock %}

{% block menu %} 
<p class="menu">
  <a href="{% url 'consultingSpace' %}" >현재 컨설팅</a>
</p>
<p class="menu" >
  <a href="{% url 'consultingPortfolio' %}">컨설팅 포트폴리오</a>
</p>
{% endblock %}


<!-- 좌측 프로필 사진, 이름, 분야 -->
{% block profile_img %}
  <img class="img" {% if con_profile.image %} src="{{con_profile.image.url}}" {% endif %}  src="{% static '\image\basic_profile.png' %}" alt="프로필 사진">
{% endblock %}
  

{% block info_btn %}
          <div>
            <!-- 신고하기 -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#declaration">
              신고하기
            </button>

            <!-- Modal -->
            <div class="modal fade" id="declaration" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">신고 글 작성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'accuse' %}" method="POST" id="accuseForm" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="declaration-info" class="col-form-label">증빙 자료</label>
                        <input type="file" class="form-control" id="declaration-info" name="declaration-info">
                      </div>
                      <div class="mb-3">
                        <label for="declaration_content" class="col-form-label">신고 내용</label>
                        <textarea class="form-control" id="declaration_content" name="declaration_content" rows="3" placeholder="신고글을 입력해주세요. (최대 200자)"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submit_check" form="accuseForm">
                      제출하기
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- 신고 재확인 모달창  -->
            <div class="modal fade" id="submit_check" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">신고 글 작성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    신고가 정상적으로 접수되었습니다. 
                  </div>

                </div>
              </div>
            </div>


        </div>

<script>
  const submitAccusation = (e) => {
    const payload = new FormData(e.target)
    e.preventDefault();
    fetch('http://127.0.0.1:8000/accuse/',{
     method:"POST",
    body: payload,
    }).then(res=>console.log(res)).catch(err=>console.log(err))
  }
  const form = document.querySelector("#accuseForm")
  form.submit = false
  form.addEventListener('submit',submitAccusation)
</script>

{% endblock %}
