input{
  width: 100%;
}
.information .mb-3{
  width: 35rem;
}

.confirm{
  padding: 0.3rem;
}

.badge{
  height:fit-content;
}
.consult_info_content input {
  width: unset;
}
.store_profile{
  float: right;
}
.btn-primary{
  height : fit-content;
}
.text-bg-secondary{
  background-color: unset;
  height : fit-content;
  padding: 0;
}
.modal-dialog{
  margin-top: 15%;
}

.shcool_check{
  display: flex;
  justify-content: space-between;
}