
.profile_container{
  width: fit-content;
  background-color: rgba(193, 211, 240, 0.25 ); 
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin: 2rem auto;
}
.edit_btn{
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  width: 35rem;

}

.information .mb-3{
  width: 35rem;
}

.info{
  padding: 0.3rem 1rem;
  margin-bottom: 0.3rem;
  width: 35rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.check{
  display: flex;
  justify-content: left;
  /* background-color: rgba(193, 211, 240, 10 ); */
  /* margin-right: 5rem; */
}
.badge{
  border: none;
  height: fit-content;
  /* width:fit-content; */
 }


/* 간단 정보 부분 */
.information{
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(193, 211, 240, 0.25 );
  margin-bottom: 2rem;
}

/* 자기 소개 부분 */
.introduction{
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(193, 211, 240, 0.25 );
  margin-bottom: 2rem;
}
.intro_content{
  padding: 1rem;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

/* 컨설팅 정보 */
.consulting_info{
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(193, 211, 240, 0.25 );
  margin-bottom: 2rem;
}
.consult_info{
  display: flex;
  justify-content: left;
  padding: 0.3rem 1rem 0.3rem 0;
  margin-bottom: 0.3rem;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.consult_info_title{
  width: 10rem;
  text-align: center;
  border-right: solid black 1px;
}
.consult_info_content{
    padding: 0 1rem;
}


/* 컨설팅 리뷰 */
.consulting_review{
  margin-bottom: 3rem;
}
.review{
  padding: 0.3rem;
  height:fit-content;
  background-color: rgba(193, 211, 240, 0.25 ); 
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.review_header{
  margin: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.review_info{
  width:fit-content;

  padding: 0.3rem;
  text-align: center;
}
.review_content{
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}


.more{
  text-align: center;
  margin: 2rem auto 0 auto;
}


#career{
  width :23rem;
}
.store_info{
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(193, 211, 240, 0.25 );
  margin-bottom: 2rem;
}

.school_check{
  display: flex;
  justify-content: space-between;
}

.btn-primary{
  --bs-btn-bg: rgb( 116 169 255 );
  --bs-btn-border-color: none;
  color: black;
  font-weight: bold;
}
.store-info-content{
  margin:1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}