{% extends 'base.html' %}
<!--base.html 상속(base.css 포함)-->
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static '/css/findRequest.css' %}">
{% endblock %}

{% block title %}
  findRequest
{% endblock %}

{% block content %}
  <!--왼쪽 카테고리 메뉴-->
  <div class="content_wrapper">
    <div class="category_container">
      <div class="title_category">컨설팅 카테고리</div>
      <div class="category_list_wrapper">
        <form action="{% url 'findRequest' %}" method="GET" id="categoryForm">
          <div class="single_category">
            <input type="checkbox" class="checkbox" name="categorys" value="0" {% for category in categorys %} {% if category == 0 %} checked="checked" {% endif %} {% endfor %}>전체</div>
          {% for tag in tags %}
            <div class="single_category">
              <input type="checkbox" class="checkbox" name="categorys" value="{{tag.id}}" {% for category in categorys %} {% if category == tag.id %} checked="checked" {% endif %} {% endfor %}>{{tag.name}}</div>
          {% endfor %}
        </form>
        <!-- <div class="single_category"> <input type="radio" class="radio" name="category-1" value="" checked>마케팅</div> <div class="single_category"> <input type="radio" class="radio" name="category-2" value="">원가관리</div> <div class="single_category"> <input type="radio" class="radio" name="category-3" value="">회계장부 작성</div> <div class="single_category"> <input type="radio" class="radio" name="category-4" value="">SNS</div> <div class="single_category"> <input type="radio" class="radio" name="category-5" value="">창업</div> <div class="single_category"> <input type="radio" class="radio" name="category-6" value="">브랜딩</div> <div class="single_category"> <input type="radio" class="radio" name="category-7" value="">로고 디자인</div> <div class="single_category"> <input type="radio" class="radio" name="category-8" value="">인테리어</div> -->
      </div>
    </div>

    <!--오른쪽 컨설팅 의뢰 리스트-->
    <div class="request_list_wrapper">
      <div class="title_request_list">컨설팅 의뢰 리스트</div>
      <div class="request_filter">
        <a href="" class="single_filter">최신 등록순</a>
        <a href="" class="single_filter">마감 임박순</a>
        <a href="" class="single_filter">고가순</a>
      </div>

      {% for req in req_list %}
        <div class="single_request_wrapper">
          <div class="single_request">
            <div class="request_top_wrapper">
              <div class="request_date">D{{req.deadline}}</div>
              <div class="request_title">{{req.title}}</div>
              <div class="detail_button">
                <a href="{% url 'applyRequest' req.req_id %}">상세보기</a>
              </div>
            </div>

            <div class="request_info_wrapper">
              <div class="request_info__category">요식업 분야
                {{req.rest_tag}}</div>
              <!--<div class="request_info__category">컨설팅 분야 {{req.consult_tag}}</div>-->
              <div class="request_info__money">컨설팅 비용
                {{req.fee}}</div>
              <div class="request_info__num_of_applicant">지원자 수:
                {{req.application_count}}명</div>
            </div>
            <div class="request_content">{{req.content}}</div>

          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {{categorys|json_script:"categorys"}}
  {{req_list|json_script:"req_list"}}

  <script src="{% static '/js/findRequest.js' %}"></script>
{% endblock %}